/* Common styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}

p{
  line-height: 2em;
  color: #333333;
}
.blue-text{
  color: #4dcdf3;
}

/* Buttons */
.sign-in-btn {
  background: #ffffff;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  margin-right: 1em;
  margin-left: 1vw;
}
.sign-in-text , .try-it-div{
  display: block;
  padding: 8px 23px;
  border-radius: 10px;
  font-size: 14px;
  background: #ffffff;
  color: #212529;
  border: 2px solid;
  transform: translate(-3px, -4px);
  font-weight: 600;
}
.blue-shadow {
    background: #a1e4f3;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
    border: 2px solid;
}
.blue-shadow:focus , .sign-in-btn:focus , .try-it-btn:focus{
  outline: none;
}
.yellow-btn {
  display: block;
  padding: 8px 18px;
  border-radius: 10px;
  font-size: 14px;
  background: #ffe66a;
  color: #212529;
  border: 2px solid;
  transform: translate(-3px, -4px);
  font-weight: 600;
}
.try-it-btn{
  padding: 8px 18px;
    border-radius: 17px;
    font-size: 14px;
    background: #ffe66a;
    color: #212529;
    border: 2px solid;
    margin-left: 13em;
    font-weight: 600;
    height: 56px;
    cursor: pointer;
}

.email-div .try-it-div , .email-div.blue-shadow{
  border-radius: 17px;
}

/* Headings */
.big-heading {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3em;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */
.colored-section {
  background-color: #ffffff;
  color: #333333;
}
.white-section {
  background-color: #fff;
  padding: 0 10%;
}
.inner-pannel{
  background: rgb(232,245,249);
  background: linear-gradient(180deg, rgba(240,250,253) 16%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
  margin: 0 3%;
  border-radius: 10px;
  padding: 5%;
}

/* Navigation Bar */
.navbar {
  padding: 2% 8%;
}
.navbar-brand {
  font-size: 22px;
  font-weight: 600;
  color: #333333;
}
.navbar-brand:hover{
  color: #333333;
}
.nav-item {
  padding: 0 12px;
}
.nav-link {
  font-size: 14px;
  color: #333333;
}
.nav-link:hover{
  color: #4dcdf3;
}
.nav-link.active{
  color: #4dcdf3;;
}

/* Title */
.fa-envelope{
  margin-right: 10px;
}
.email-div{
  margin: 8% 0;
}
.title-image{
  float: right;
}
 /* Partners  */
.partners{
    max-width: 70%;
    margin: auto;
    overflow-x: auto;
    display: flex;
}
.partners img{
  margin-right: 2em;
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #dad8d8; 
  border-radius: 10px;
}

/* Features Section */
#features{
  margin: 4% 0;
}
#features p , .feature-box{
  text-align: center;
}
.features-heading{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3%;
}
.feature-title {
  font-size: 1rem;
  font-weight: 600;
}
.card{
  border: 2px solid;
  border-radius: 21px;
}
.card-1{
  transform: rotate(-2deg);
  box-shadow: 9px 0px 60px 0px #dad8d8;
}
.card-2{
  transform: rotate(2deg);
  box-shadow: 9px 0px 60px 0px #dad8d8;
}
.card-3{
  transform: rotate(-6deg);
  box-shadow: 9px 0px 60px 0px #dad8d8;
}

/* Reviews Section */
#reviews{
  margin: 4% 2% 10%;
  background-image: linear-gradient(#edfbff, #ffffff);
}
.reviews-div-heading{
  font-size: 24px;
  font-weight: bold;
  padding: 1em 3em;
}
.user-pic{
  float: left;
}
.user-details{
  font-size: 12px;
}
.user-name , .user-designation{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
}
.user-review{
  clear: both;
  margin-bottom: 0;
}
.bx-wrapper {
  max-width: 90% !important;
  margin: auto;
  border: none !important; 
  box-shadow: none !important;
  background: transparent !important;
}
.slide{
  margin: 0 0.5em;
}
.bx-viewport{
  height: auto !important;
  padding: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #e9ecef !important;
}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #ff8d00 !important;
}
.review-1{
  transform: rotate(-2deg);
}
.review-2{
  transform: rotate(2deg);
}
.review-3{
  transform: rotate(-6deg);
}
/* .outer-div{
  width: 80%;
  height: 20em;
  background-image: linear-gradient(#edfbff, #ffffff);
  float: right;
  border-radius: 10px;
}
.inner-div{
  width: 70%;
  height: 20em;
  background-image: linear-gradient(#e5f8fd, #ffffff);
  border-radius: 10px;
  float: left;
  z-index: 1000;
  position: absolute;
  margin-top: 6em;
}
.inner-content-div{
  background-color: transparent;
  width: 90%;
  height: 5em;
  position: absolute;
  z-index: 1000;
  top: 6em;
  left: 5%;
  clear: both;
} */

/*  Individual features section */
.content-section{
  padding-top: 4em;
}
.section-title , .section-description{
  text-align: left;
  color: #333333;
}
.section-title{
  font-size: 24px;
  font-weight: bold;
}

/* Get financed section */
.get-financed{
  text-align: center;
    box-shadow: 0px 60px 60px 0px #efecec;
    margin: 4% 11%;
    padding: 3em 1em;
}

/* Footer Section */
#footer{
  padding-top: 3em;
}
.social-icon {
  margin: 20px 10px;
}
.footer-list{
  list-style-type: none;
  text-align: left;
  line-height: 2em;
  color: #333333;
}
.footer-title{
  text-align: left;
  padding-left: 40px;
  font-weight: bold;
  color: #333333;
}
.brand-info h3 , .brand-info p{
  text-align: left;
}
.brand-bold{
  font-weight: 600;
}
.copy-right{
  color: #999999;
}
.social-media{
  margin-bottom: 2em;
}
.social-media button{
    background: transparent;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 8px 15px 3px #eae5e5;
    margin-right: 2em;
    cursor: pointer;
}
.social-media img{
  height: 20px;
}

/* Media queries */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .img-div{
    display: flex;
    align-items: center;
  }
  .title-image{
    float: none;
  }
}
@media (max-width: 710px) {
    .try-it-btn {
      margin-left: 0;
    }
}
@media (max-width: 558px) {
  .section-img {
    display: none;
  }
  .content-section , .section-title, .section-description{
    text-align: center;
  }
  .users-img , .title-image{
    width: 100%;
    height: auto;
  }
}